<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6kavtu81L5femHsp-PcZMQ1MXSs--vIM</string>
	<key>GCM_SENDER_ID</key>
	<string>1045667322083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatConnectApp</string>
	<key>PROJECT_ID</key>
	<string>chatconnectapp-bf24d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatconnectapp-bf24d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045667322083:ios:b3212aad148d0183f10dd6</string>
</dict>
</plist>